.feynman__link {
  position: absolute;
  z-index: 34;
  right: 48px;
  top: 50%;
  text-align: center;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
  color: #2f80ed;
}
.feynman__link:hover {
  transition: all 0.5s ease-out;
  opacity: 0.6;
}
