.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.header {
  position: relative;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* выше установили ограничения для секции */
}

.logo_place_header {
  position: absolute;
  top: 30px;

  left: 64px;
  width: 228px;
  height: 32px;
  z-index: 3;
}

.header__title {
  display: flex;
  align-items: center;
  min-height: 600px;
  max-height: 756px;
  max-width: 730px;
  margin-left: 64px;
  z-index: 4;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
  color: #000000;
}

.header__subtitle {
  position: absolute;
  max-width: 388px;
  bottom: 0;
  left: 0;
  margin-left: 64px;
  margin-bottom: 30px;
  z-index: 3;
  font-size: 18px;
  font-weight: 300;
  line-height: 25px;
  color: #000000;
}

.header__link {
  font-size: 18px;
  font-weight: 300;
  line-height: 25px;
  list-style: none;
  color: #2f80ed;
  text-decoration: none;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */

.header__main-illustration {
  position: absolute;
  bottom: 0;
  z-index: 1;
  right: 0;
  height: 608px;
  width: 765px;
}
.header__square-pic {
  position: absolute;
  background-color: #2f80ed;
  width: 568px;
  height: 568px;
  top: 64px;
  right: 0px;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

/* Header end*/

/*description start*/
.description {
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 100px;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  width: 80%;
  min-width: 784px;
  margin: 0 auto;
}
.two-columns__brief {
  max-width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: 300;
  color: #2f80ed;
}
.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  display: flex;
  flex-direction: column;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: 300;
  padding-bottom: 30px;
}

.two-columns_span-accent {
  font-weight: 600;
}
/*description end*/

/* digits start */
.section-title {
  max-width: 60%;
  margin: 0 auto;
  margin-top: 70px;
  height: 60px;
  margin-bottom: 20px;
  font-size: 60px;
  line-height: 1.15;
  font-weight: 600;
  text-align: center;
}

.section-subtitle {
  margin: 0 auto;
  max-width: 60%;
  text-align: center;
  margin-bottom: 60px;
  height: 34px;
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
}

.table {
  width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.table_cell {
  width: 250px;
}

.table_heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}
.table_text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: 300;
}

/* digits end*/

/*feyman start */
.feynman {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 756px;
  position: relative;
  margin-top: 40px;
  background-color: #f2f2f2;
}

.feynman__title {
  position: relative;
  width: 648px;
  text-align: center;
  z-index: 33;
  margin: 0 auto;
  padding-top: 100px;
  z-index: 5;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
}

.feynman__subtitle {
  position: relative;
  z-index: 33;
  text-align: center;
  line-height: 51px;
  font-size: 36px;
  height: 51px;
  font-weight: 300;
  margin-top: 70px;
}

.feynman__link {
  position: absolute;
  z-index: 5;
  right: 48px;
  top: 445px;
  text-align: center;
  line-height: 51px;
  font-size: 36px;
  font-weight: 300;
  text-decoration: none;
  color: #2f80ed;
}

.img__feynman {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 867px;
  height: 637px;
  z-index: 1;
}
/* feyman end */

/* kaufman start */
.kaufman {
  box-sizing: border-box;

  overflow: hidden;
  position: relative;
  background-color: #1f1f1f;
}
.section_title_theme-dark {
  position: relative;
  z-index: 5;
  color: white;
  padding-top: 90px;
  width: 60%;
  margin: 0 auto;
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  margin-bottom: 20px;
}

.section_subtitle_theme-dark {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  font-weight: 300;
  font-size: 24px;
  line-height: 34px;
  color: white;
  margin-bottom: 80px;
}

.kaufman__triangle__img {
  width: 877px;
  height: 877px;
  position: absolute;
  right: 0;
  top: 0;
  margin-right: -210px;
}

.table_theme_dark {
  position: relative;
  z-index: 5;
  color: white;
  padding-bottom: 20px;
}

.table_cell_theme-dark {
  color: white;
  width: 200px;
  display: flex;
  flex-direction: column;
  z-index: 33;
}

.table_heading_theme-dark {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  margin: 0;
  padding-bottom: 20px;
}

.table_text_theme_dark {
  line-height: 1.2;
  font-size: 18px;
  font-weight: 300;
  margin: 0;
}

/* kaufman end */

/* footer start */

.footer {
  background-color: #000000;
  min-height: 350px;
}

.footer__columns {
  width: 90%;
  flex-basis: 711px;
  padding-top: 60px;
  padding-bottom: 40px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  min-height: 250px;
}
.footer_column__content-copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 660px;
}

.logo_place_footer {
  width: 228px;
  height: 32px;
}

.footer__author {
  color: white;
  padding-top: 18px;
  padding-bottom: 18px;
  line-height: 25px;
  font-size: 18px;
  font-weight: 300;
}

.footer_column {
  width: 50%;
  display: flex;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}

.footer_column__content-social {
  display: flex;
  flex-direction: column;
}

.footer__column-heading {
  color: white;
  padding-bottom: 20px;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
}
.footer__column-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer__column-link {
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: 300;
  text-decoration: none;
}

.footer__column-link:last-child {
  padding-bottom: 16px;
}
.icon__footer {
  width: 15px;
  height: 15px;
  margin-right: 6px;
}

.inner__footer__icon {
  display: flex;
  height: 30px;
}
.footer__social-icon {
  display: flex;
  align-items: center;
}

/* footer end */
